/*toute la page du site*/
body{
  background-color: white;
  font-family: Raleway;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
img{
  width: 261px;
  height: 125px;
}
h1{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 4px;
}
h2{
  font-size: 20px;
  margin-left: 10px;
}
h3{
  font-size: 16px;
}
p{
  font-size: 14px;
}
li{
  list-style: none;  
}
.Icon-star{
  color: #0065fc;
}
.Icon-starColor{
  color: #F2F2F2;
}
.card-text{
  padding-left: 12px;
 }
.card-text p{
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 2em;
}
.card-text h3{
  margin-bottom: 0px;
  margin-top: 5px;

}

/* navigation*/
 nav{
  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 90px;
  margin-left: 20px;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  padding-left: 0px;
}
ul a{
  text-decoration: none;
  padding: 11px 33px; 
  color: #0065fc;
}
.nav_item.hebergement{
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 22px;
}
.nav_item.activite{
  color: black;
}
.nav_item.inscription{
  font-weight: bold;
}

/* Recherche*/
form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.form_icone{
  background-color: #f2f2f2;
  border-radius:  15px 0 0 15px;
  width: 29px;
  height: 50px;
  padding-left: 18px;
}
input.search{
  font-size: 16px;
  font-weight: 900;
  border: 1px solid #f2f2f2;
  padding-left: 13px;
  padding-right: 0px;
}
.form_icone i{
  padding-top: 18px;
}
button{
  font-weight: bold;
  border-radius: 0 15px 15px 0;
  padding-right: 20px;
  padding-left: 14px;
  color: white;
  background-color: blue;
  border: 1px solid blue;
  cursor: pointer;
}
.button{
  display: none;
}

/*Filtres*/
.filtre{
  display: flex;
  margin-top: 20px;
}
.box{
  display:flex;
  margin-top: 5px;
  padding-right: 13px;
  margin-left: 20px;
  border: 2px solid #F2F2F2;
  border-radius: 25px 25px 25px 25px;
}
.box p{
  padding-left: 15px;
  font-weight: bold;
}
.box i{
  background-color: rgba(180, 213, 243, 0.651);
  color: #0065fc;
  width: 34px;
  height: 32px;
  margin-left: -2px;
  padding-top: 15px;
  border-radius: 100%;
 }
 .box i.icone{
   padding-left: 14px;
 }
.box_filtre:hover{
  color: blue;
  transition-duration: 0,20s;
  cursor: pointer;  
}
.box_filtre:hover .icone{
  background: rgb(139, 240, 226);
  transition-duration: 0,20s;
}
/*Information*/
.info{
  display: flex;
  margin-top: 20px;
}
.info i{
  padding-left: 11px;
  padding-top: 2px;
  margin-left: 0px;
  margin-top: 13px;
  font-size: 12px;
  
}
.info i.icone{
  color: #0065fc;
  border: 1px solid #F2F2F2;
  border-radius: 100%;
  height: 20px;
  width: 16px;
  margin-top: 9px;
  padding-top: 5px;
}
.info p{
  padding-left: 18px; 
 }

/*section hébergement*/
section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}
 article{
  background-color: #F2F2F2;
  border-radius: 17px;
  width: 70%;
}  
#hebergement{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
 margin-left: 20px;
 margin-right: 20px;
}
#hebergement .card-image{
  margin-bottom: 30px;
  background-color: white;
  border-radius: 17px 17px 0 0;
  width: 267px;
}
.card-image img{
  object-fit: cover;
  border-radius: 17px 17px 0 0;
  margin-left: 2px;
  margin-top: 3px;
}
/* Section populaire*/
aside{
  background-color: #F2F2F2;
  width: 29%;
  margin-left: 12px;
  border-radius: 17px
 }
 .title{
   display: flex;
  }
  .title i{
    float: right;
  }
 #populaire .card-image{
   display: flex;
   background-color: white;
   border-radius: 17px ;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 30px;
  }
 
 #populaire .card-image img{
  width: 140px;
  height: 148px;
  border-radius: 17px 0 0 17px;
  margin-left: 4px;
  }
  /*section activites Marseille*/
  #activite{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  } 
  .card{
    border: 2px solid aliceblue;
  }
  .card img{
    width: 287px;
  }
  .img1{
  height: 354px;
  object-position: center;
  object-fit: none;
  }
  .img2{
  height: 158px;
  object-fit: cover;
  margin-bottom: 20px;
}

  .img3{
  height: 117px;
  object-fit: cover;
  object-position: top;
  margin-top: 32px;
  }
  .img4{
  height: 132px;
  object-fit: cover;
  object-position: top;
  }
  .img5{
  object-fit: cover;
  object-position: top;
  height: 155px;
  }
 
/*Pied ce Page*/
.info-footer {
  width: 100%;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-footer{ 
  padding-right: 10%;
  margin-left: 20px;
}
.card-footer ul{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.card-footer ul a{
  padding: 0;
  color: black;
  font-weight: normal;
  line-height: 2rem;
}

/* media queries*/
@media (max-width: 1200px){
.nav_item.inscription{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 64px;
}
.nav ul{
text-align: center;
margin-top: 22px;
padding-right: 83px;
padding-right: 77px;
}
.nav_item.hebergement{ 
  color: #0065fc;
  border-top: none;
  border-bottom: 2px solid #0065fc;
  padding-top: 22px;
}
.nav_item.activite{
  color: black;
  border-top: none;
  border-bottom: 2px solid #F2F2F2;
  padding-top: 22px;
  padding-left: 74px;
  padding-right: 56px;
}
.nav_item a{
  display: flex;
  justify-content: center;
}

/*recherche*/
button{
  display: none;
}
.button{
  display: flex;
  border-radius: 15px 15px 15px 15px;
  background-color: blue;
  border: 1px solid blue;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 19px;
  padding-bottom: 0px;
  margin-left: -13px;
  color: white;
}
.button .icone{
  padding-top: 17px;
}
/*Filtres*/
.filtre{
  display: flex;
  flex-direction: column;
 }
}

/*hebergement et populaire*/

