body {
   background-color: white;
   font-family: "Raleway", sans-serif;
   color: black;
  }
p {
   font-family: "Raleway", sans-serif;
   font-size: 12px;
}
a {
   color: black;
   text-decoration: none;
}
a:focus,
a:hover {
   color: blue;
   width: 100%;
}
h2{
   font-size: 20px;
}
h3 {
   font-size: 15px;
}
img {
   width: 200px;
   height: 140px;
   padding-left: 4px;
   margin-top: 4px;
   border-radius: 17px 17px 0 0;
   object-fit: cover;
   object-position: top;
}

header {
   background-color: white;
   margin-top: 10px;
}
.logo img{
   height: 30px;
   width: 80px;
}
   .navbar {
      list-style-type: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
   }
   .navbar ul {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: flex-end;
      margin-top: 10px;
   }
   .navbar li{
      display: inline;
      padding: 0 40px;
   }
   .page-courante {
      color: blue;
      border-top: 2px blue solid;
      padding-top: 10px;
   }
   a.connexion {
      border-top: none;
      color: #0065fc;
      font-weight: 700;
    }


.nav a {
   font-size: 1.3em;
}

/*main */
h1 {
   padding-top: 20px;
   font-size: 18px;
}
h2 {
   padding-left: 15px;
}
/*button search*/
.recherche {
   display: flex;
   flex-direction: row;
   margin-top: 15px;
   margin-bottom: 35px;
}
.localisation {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 18px;
   width: 60px;
   height: 60px;
   background-color: #f2f2f2;
   border-radius: 12px 0 0 12px;
}
.search::placeholder {
   color: rgb(170, 170, 170);
   font-size: 16px;
   font-weight: 600;
}
button.submit {
   border: none;
   border-radius: 0 14px 14px 0;
   background-color: #0065fc;
   color: white;
   font-weight: 700;
   font-size: 16px;
   padding: 17px;
   cursor: pointer;
}

.fa-map-marker-alt {
   background-color: #f2f2f2;
   padding: 5px 10px;
   border-radius: 95px 0 0 95px;
   padding-top: 3px;
}
.search {
   padding: 5px 0;
   border: 1px solid #deebff;
   padding-left: 10px;
}

.submit {
   padding: 5px 25px;
   border-radius: 0 95px 95px 0;
   border: none;
   background: #0065fc;
   color: white;
   width: 112px;
}
.button-submit{
   display: none;
}
/* Filtres*/
.filtre h2{
   font-size: 24px;
   display: inline;
}

.content {
   display: flex;
   flex-direction: row;
   padding: 0;
   justify-content: start;
}

.box-filtre {
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.filtre ul li{
   margin-left: 25px;
 }
 .filtre ul li:hover{
   color: blue;
   transition-duration: 0,20s;
   cursor: pointer;
 }
 .filtre ul li:hover .icone{
   background: rgb(139, 240, 226);
   transition-duration: 0,20s;
 }
.box {
   border: solid #f2f2f2;
   border-radius: 45px 45px 45px 45px;
   display: flex;
   margin-right: 16px;
   padding-bottom: 3px;
   padding-top: 6px;
   height: 30px;
   margin-bottom: 8px;
}
.box-text-icone{
   padding-right: 12px;
   padding-top: 2px;
   font-weight: bold;
}

.icone {
   background-color: #d6e4f7e7;
   color: #0065fc;
   padding: 12px;
   border-radius: 30px;
   margin-top: -7px;
   margin-right: 10px;
}

.info {
   display: flex;
}
.info p {
   margin-top: 26px;
}
.fa-info {
   color: #0065fc;
   font-size: 15px;
   border: 2px solid #f2f2f2;
   width: 20px;
   height: 20px;
   text-align: center;
   padding: 5px;
   margin: 18px;
   border-radius: 50%;
}
/* Container*/
#container {
   display: flex;
  }
/*container hebergement*/
.card {
   background-color: white;
   border-radius: 17px 17px 0 0;
   margin-top: 12px;
   padding-bottom: 10px;
}
.container-hebergement {
   background-color: #f2f2f2;
   width: 750px;
   border-radius: 15px 15px 15px 15px;
   margin-left: 20px;
}
.img-hebergement {
   padding-right: 5px;
}

.card-hebergement {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.card-text {
   margin-left: 5px;
   margin-top: -12px;
}
.text {
   margin-left: 12px;
}

/*Partie Populaire*/

.container-populaire {
   background: #f2f2f2;
   width: 350px;
   margin-left: 20px;
   padding-right: 20px;
   border-radius: 15px 15px 15px 15px;
}
.card-populaire {
   display: flex;
   justify-content: center;
   background: white;
   border-radius: 17px 17px 17px 17px;
   width: 270px;
   margin-left: 35px;
   margin-bottom: 20px;
}
.populaire {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
.pop {
   border-radius: 17px 0 0 17px;
   width: 110px;
   margin-left: -5px;
}
.card-text-populaire {
   margin-bottom: 5px;
   padding-left: 12px;
}
.populaire-icone {
   padding-left: 80px;
   padding-top: 19px;
   font-size: 20px;
}

/*2ème partie*/

.hotel-price {
   margin-bottom: 8px;
   margin-top: -12px;
}
.stars,
.stars1 {
   color: #0065fc;
   font-size: 12px;
}
.Icon-starColor {
   color: #f2f2f2;
}

/*Activite*/
.album {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.container-activite {
   padding-top: 20px;
}
.colonne{
   padding-right: 12px;
}

.img1 {
   height: 300px;
   width: 265px;
   padding-left: 0;
}
.img-activite {
   margin-top: 22px;
}
.img2 {
   height: 150px;
   width: 265px;
   padding-left: 0;
}
.img3 {
   height: 80px;
   width: 265px;
   padding-left: 0;
   object-fit: cover;
   object-position: 100% 20%;
}
.img4 {
   width: 265px;
   height: 100px;
   object-fit: cover;
   object-position: top;
}
.img5 {
   width: 265px;
   height: 130px;
   padding-left: 0;
}
.activite3 {
   padding-right: 0px;
}
.text-activite {
   border: 2px solid #f2f2f2;
   margin-top: -5px;
   background-color: white;
   border-radius: 0 0 17px 17px;
   padding-left: 5px;
}

/*footer*/
footer {
   width: 100%;
   background: #f2f2f2;
   margin-top: 30px;
}

ul {
   padding: 0;
   list-style-type: none;
   text-align: left;
}

.card-text-footer {
   line-height: 2;
}
.info-footer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding-right: 45px;
   margin-left: 35px;
}
.card-footer {
   padding-right: 120px;
   margin-right: 80px;
}

@media (max-width: 600px) {
   h2 {
      width: 60%;
      font-size: 20px;
   }
   
   .navbar {
      width: 100%;
   }
   .nav ul {
      margin-top: -50px;
      padding-right: 56px;
   }
   .navbar li{
      display: inline;
      padding-top: 22px;
        }
   a.page-courante {
      border-top: none;
      border-bottom: 2px solid blue;
      width: 100%S;
       }
   
   li a.page-activite{
      margin-top: 20px;
      border-bottom: 2px solid #f2f2f2;
      width: 100%;
   } 
   .submit{
      display: none;
   } 
   .button-submit {
   display: flex;
   border: none;
   border-radius: 0 14px 14px 0;
   background-color: #0065fc;
   color: white;
   font-weight: 700;
   font-size: 16px;
   padding: 17px;
   cursor: pointer;
}
.icone-submit{
   margin-top: 3px;
}
#container{
   display: flex;
   flex-wrap: wrap-reverse;
   padding: 0;
 }
   .container-hebergement {
      background: none;
   }
   .card {
      box-shadow: 1px 1px 12px #555;
      margin-bottom: 15px;
   }
   
}

   
