
body {
   background-color: white;
   margin: 20px;
   font-family: "Raleway", sans-serif;
   color: black;
}
p {
   font-family: "Raleway", sans-serif;
   font-size: 12px;
}
a {
   color: black;
   text-decoration: none;
}
a:focus,
a:hover {
   color: blue;
}

h3 {
   font-size: 15px;
}  
header {
   background-color: white;
}
.logo {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   font-size: 12px;
}
.logo-img{
   height: 50px;
   width: 110px;
}

/* navigation*/
.navbar {
   display: flex;
   justify-content: space-between;
   padding-top: 45px;
   overflow:hidden;
}


.page-courante {
   color: blue;
   border-top: 2px blue solid;
   padding-top: 20px;
}
.connexion {
   color: #0065fc;
   font-weight: 700;
}

.nav ul {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: flex-end;
}
.nav li {
   margin-right: 30px;
   float: left;
   justify-content: space-between;
}
.nav a {
   font-size: 1.3em;
 
} 
@media (max-width: 600px) {
   
.connexion{ 
   padding-left: 100px;
}
 }   
/*main */
h1 {
   padding-top: 20px;
   font-size: 18px;
}

.recherche {
   display: flex;
   padding-top: 10px;
   overflow: hidden;
   text-align: center;
   padding-right: 12px;
   height: 40px;
}
.fa-map-marker-alt {
   background-color: #f2f2f2;
   padding: 5px 10px;
   border-radius: 95px 0 0 95px;
   padding-top: 12px;
}
.search {
   padding: 5px 0;
   border: 1px solid #deebff;
}
.submit {
   padding: 5px 25px;
   border-radius: 0 95px 95px 0;
   border: none;
   background: blue;
   color: white;
   width: 112px;
}

.filtre {
   display: flex;
   margin-top: 45px;
   flex-wrap: wrap;
}


.content,
h2 {
   padding-top: 4px;
   margin-top: 20px;
   font-size: 20px;
}

.box-filtre {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: 20px;
   margin-top: 10px;
}
.box {
   border: solid #f2f2f2;
   border-radius: 45px 45px 45px 45px;
   overflow: hidden;
   text-align: center;
   display: flex;
   margin-right: 16px;
}

input {
   border: none;
   font-weight: bold;
   color: black;
}
.box .fas {
   align-items: center;
   background: #f2f2f2;
   border-radius: 50% 50%;
   width: 35px;
   border: 1px solid #f2f2f2;
   padding-top: 10px;
   color: #0065fc;
   padding-top: 8px;
}
.box .fas:hover{
   background-color: gold;
}

input {
   text-align: center;
   color: black;
}
/*information*/

.info {
   display: flex;
}
.info p {
   margin-top: 26px;
}
.fa-info {
   color: #0065fc;
   font-size: 15px;
   border: 2px solid #f2f2f2;
   width: 20px;
   height: 20px;
   text-align: center;
   padding: 5px;
   margin: 18px;
   border-radius: 50%;
}
/* 1ere partie*/
.card{
   background-color:  white;
   border-radius: 17px 17px 0 0 ;
   margin-top: 12px;
   padding-bottom: 10px;
}
.container-hebergement{
   background-color: #F2F2F2;
   width: 750px;
}
.img-hebergement{
   padding-right: 5px;
}
.card-hebergement{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
.card-text{
   margin-left: 5px;
   margin-top: -12px;
}
.text{
   margin-left: 12px;
}

/*Partie Populaire*/
.container-populaire{
   background: #f2f2f2;
   width: 350px;  
   margin-left: 20px;
}
.card-populaire{
   display: flex;
   justify-content: center;
   background: white;
   border-radius: 17px 17px 17px 17px ;
   width: 270px;
   margin-left: 35px;
   margin-bottom: 20px;
}
.pop{
   border-radius: 17px 0 0 17px;
   width: 110px;
   margin-left: -5px;
 }
 .card-text-populaire{
   width: 135px;
   margin-top: 15px;
   margin-bottom: 5px;
   padding-left: 12px;
 }

/*2ème partie*/

.hotel-price{
   margin-bottom: 8px;
   margin-top: -12px;
}
.stars, .stars1 {
   color: #0065fc;
   font-size: 12px;
}
.Icon-starColor {
   color: #f2f2f2;
}
img {
   width: 196px;
   height: 100px;
   padding-left: 4px;
   margin-top: 4px;
   border-radius: 17px 17px 0 0;
   object-fit: cover;
   object-position: center;
 }
#container {
   display: flex;
   flex-wrap: wrap-reverse;
}
/*Activite*/
.album{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding-top: 70px;
}
.container-activite{
   padding-top: 20px;
}

.img1{
   height: 300px;
   width: 265px;
   padding-left: 0;
  
}
.img-activite{
   margin-top: 22px;
}
.img2{
   height: 150px;
   width: 265px;
   padding-left: 0;
}
.img3{
    height: 80px;
    width: 265px;
    padding-left: 0;
    object-fit: cover;
   object-position: 100% 20%;
}
.img4{
   width: 265px;
   height: 100px;
   object-fit: cover;
   object-position: top;
}
.img5{
   width: 265px;
   height: 130px;
   padding-left: 0;
}
.activite3{
   padding-right: 0px;
}
.text-activite{
   border: 2px solid #F2F2F2;
   margin-top: -5px;
   background-color: white;
   border-radius: 0 0 17px 17px;
   padding-left: 5px;
  }

/*footer*/
footer {
   width: 100%;
   background: #f2f2f2;
   margin-top: 30px;
}

ul {
   padding: 0;
   list-style-type: none;
   text-align: left;
}

